<div class="container">

  <mat-card>
    <mat-card-header>
      <div class="container">
        <!-- Search bar -->
        <div class="row justify-content-between py-3">
          <div class="col-md-4">
            <mat-form-field class="w-100">
              <input matInput (keyup)="Filterchange($event)" placeholder="Search" />
            </mat-form-field>
          </div>
          <!-- Buttons -->
          <div class="col-md-4 mb-2">
            <button (click)="openCreate()" mat-raised-button color="primary" class="w-100">
              <mat-icon>add</mat-icon><span class="d-none d-md-inline">Create </span>Family
            </button>
          </div>
          <div class="col-md-4 mb-2">
            <button (click)="openCreateMember()" mat-raised-button color="primary" class="w-100">
              <mat-icon>person_add</mat-icon><span class="d-none d-md-inline">Add New </span>Member
            </button>
          </div>
        </div>
      </div>
    </mat-card-header>

    <mat-card-content>
      <div class="table-responsive">
        <div *ngIf="famCheck">
          <table matSort mat-table [dataSource]="dataSource" class="mat-elevation-z8">
            <!-- Family Number Column -->
            <ng-container matColumnDef="id">
              <th mat-sort-header mat-header-cell *matHeaderCellDef>Family Number</th>
              <td mat-cell *matCellDef="let family">{{ family.familyNumber }}</td>
            </ng-container>

            <!-- Other Columns -->
            <ng-container matColumnDef="houseName">
              <th mat-sort-header mat-header-cell *matHeaderCellDef>House Name</th>
              <td mat-cell *matCellDef="let family">{{ family.houseName }} ({{ family.alias }})</td>
            </ng-container>

            <ng-container matColumnDef="area">
              <th mat-sort-header mat-header-cell *matHeaderCellDef>Region</th>
              <td mat-cell *matCellDef="let family">{{ family.area }}</td>
            </ng-container>

            <!-- Repeat these ng-container blocks for other properties like place, district, state, postCode, etc. -->

            <!-- Actions Column -->
            <ng-container matColumnDef="actions">
              <th mat-header-cell *matHeaderCellDef>Actions</th>
              <td mat-cell *matCellDef="let family">
                <div class="d-flex justify-content-center">
                  <button mat-raised-button color="dark" class="mx-2" (click)="editFamily(family.id)">
                    <mat-icon>edit</mat-icon>Edit
                  </button>
                  <button mat-raised-button color="warn" class="mx-2" (click)="deleteFamily(family.id)">
                    <mat-icon>delete</mat-icon>Delete
                  </button>
                  <button mat-raised-button color="primary" class="mx-2" (click)="viewFamilyMembers(family.id)">
                    <mat-icon>perm_contact_calendar</mat-icon>Members
                  </button>
                </div>
              </td>
            </ng-container>


            <!-- Column Definitions -->
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>
        </div>
      </div>
    </mat-card-content>
    <br>
    <mat-card-footer>

      <mat-paginator [pageSizeOptions]="[5,10,20]" showFirstLastButtons></mat-paginator>

    </mat-card-footer>
  </mat-card>



</div>