<div class="container mt-2">
    <ng-container>
      <div class="container">
        <div class="row">
          <!-- Buttons Section -->
          <div class="col-md-4 mb-2">
            <button (click)="openMonthly()" mat-raised-button color="primary" class="w-100">
              <mat-icon>date_range</mat-icon>Monthly
            </button>
          </div>
          <div class="col-md-4 mb-2">
            <button (click)="openCreate()" mat-raised-button color="primary" class="w-100">
              <mat-icon>library_add</mat-icon> <span class="d-none d-md-inline">Create </span>Type
            </button>
          </div>
          <div class="col-md-4 mb-2">
            <button (click)="openCreateCash()" mat-raised-button color="primary" class="w-100">
              <mat-icon>payment</mat-icon> <span class="d-none d-md-inline">Insert </span>Cash
            </button>
          </div>
          <!-- Cards Section -->
          <div class="col-md-4" *ngFor="let type of types">
            <mat-card class="my-2">
              <mat-card-content>
                <h4>{{ type.type }}</h4>
              </mat-card-content>
            </mat-card>
          </div>
        </div>
      </div>
    </ng-container>
  </div>
  