<div class="container mt-2">


    <ng-container>
        <div class="container flex-wrap">
            <div class="flex justify-between py-3">
                <!-- <div class="flex justify-around py-3"> -->
                    <button (click)="openMonthly()" mat-raised-button color="primary">
                        <mat-icon>calendar_today</mat-icon>Monthly
                      </button>
                    <button (click)="openCreate()" mat-raised-button color="primary">
                      <mat-icon>create</mat-icon> Create Type
                    </button>
                    <button (click)="openCreateCash()" mat-raised-button color="primary">
                      <mat-icon>create</mat-icon> Insert Cash Entry
                    </button>
                  <!-- </div> -->
                <!-- <mat-card class="mat-card-new mx-2 my-2 mat-card-button" (click)="openCreate()">
                    <mat-card-content>
                        <h4><mat-icon>account_balance_wallet</mat-icon> New Type</h4>
                    </mat-card-content>
                </mat-card>

                <mat-card class="mat-card-new mx-2 my-2 mat-card-button" (click)="openCreateCash()">
                    <mat-card-content>
                        <h4><mat-icon>account_balance</mat-icon> Insert Cash Entry</h4>
                    </mat-card-content>
                </mat-card> -->
            </div>
            <div class="flex">
                <mat-card *ngFor="let type of types" class="mx-2 my-2 mat-card-button" (click)="openType(type.id)">
                    <mat-card-content>
                        <h4>{{ type.type }}</h4>
                    </mat-card-content>
                </mat-card>
            </div>
        </div>
    </ng-container>
</div>