<div class="position-relative overflow-hidden banner p-3 p-md-5 m-md-3 text-center bg-light">
    <div class="col-md-5 p-lg-5 mx-auto my-5">
        <h1 class="display-4 font-weight-normal">CSI Church Anad</h1>
        <!-- <span class="lead font-weight-normal">Our App message</span> -->
        <a class="btn btn-outline-secondary" href="#">Coming soon</a>
    </div>
    <div class="product-device shadow-sm d-none d-md-block"></div>
    <div class="product-device product-device-2 shadow-sm d-none d-md-block"></div>
</div>

<div class="d-md-flex flex-md-equal w-100 my-md-3 pl-md-3">
    <div class=" description mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
        <div class="my-3 py-3">
            <h2 class="display-5"> CSI Anad</h2>
            <span class="lead font-weight-normal">The London Missionary Society (L.M.S) now the Council for World Mission, commenced its work in South
                Travancore in1806. Vedamanickam Maharasan Desikar was the first Christian who invited William Tobias
                Ringeltauble the first Missionary to come to Travancore. He crossed into Aruvamozhi on April 25th 1806. The
                South India United Church (S.I.U.C) was formed on 25th July 1907 with nine member church denominations of
                which the South Travancore L.M.S. The church was one. The South Travancore Church Council was constituted in
                1921 with the Tamil and Malayalam churches put together. The Church of South India (C.S.I) was inaugurated
                on 27-09-1947 and the member churches adopted episcopacy as part of the church order. The Rt. Rev. A. H.
                Legg was consecrated on 27-09-1947 and installed as the first Bishop of the South Travancore Diocese on
                13-10-1947. The South Travancore Diocese was bifurcated into the Kanyakumari Diocese and the South Kerala
                Diocese in 1959 and the Rt. Rev. A. H. Legg continued to be the first Bishop of the South Kerala Diocese
                till he returned to England in 1965. The Rt. Rev. William Paul Vachalan was consecrated and installed in the
                South Kerala Diocese on 2-7-1967. He passed away o 5-11-1972 while in service. The Rt. Rev. Isaiah
                Jesudason, was consecrated and installed in the South Kerala Diocese on 5th August 9973. He was Deputy
                Moderator of the Church of South India from 1980-81 and Moderator from 1982-1987. He served as a Central
                Committee member of the W. C. C Hon. Doctorate of Divinity was conferred upon him in 1988. He retired from
                active service on 14th February 1990 on completion of 65 years of age. The (late) Rt. Rev. Dr Samuel
                Amirtham was consecrated and installed as Bishop of the Diocese on 20-05-1990. He was director of the
                Programme on Theological Education and Director of the Ecumenical Institute, Bossey of the WCC 1980-1990.
                Serampore University conferred on him an honorary doctorate in 1987. He retired from active service on 19the
                August 1997. Rt. Rev. Dr J. W. Gladstone, was consecrated and installed as Bishop on 16-9-1997. He was the
                principal of KUT seminary, Trivandrum and the president of the Senate of Serampore, Culcutta. He is selected
                as the Moderator of the C.S.I. Synod in 2008. He retired from active service on 25th December 2010 on
                completion of 65 years of age. The Most. Rev. A.Dharmaraj Rasalam currently serves as the Bishop of the
                Diocese.</span>
        </div>
        <!-- <div class=" bg-light shadow-sm mx-auto" style="width: 80%; height: 300px; border-radius: 21px 21px 0 0;"></div> -->
    </div>


    <!-- <div class="bg-light mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
        <div class="my-3 p-3">
            <h2 class="display-5">Another headline</h2>
            <p class="lead">And an even wittier subheading.</p>
        </div>
        <div class="bg-dark shadow-sm mx-auto" style="width: 80%; height: 300px; border-radius: 21px 21px 0 0;"></div>
    </div> -->
</div>

<!-- <div class="d-md-flex flex-md-equal w-100 my-md-3 pl-md-3">
    <div class="bg-light mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
        <div class="my-3 p-3">
            <h2 class="display-5">Another headline</h2>
            <p class="lead">And an even wittier subheading.</p>
        </div>
        <div class="bg-dark shadow-sm mx-auto" style="width: 80%; height: 300px; border-radius: 21px 21px 0 0;"></div>
    </div>
    <div class="bg-primary mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center text-white overflow-hidden">
        <div class="my-3 py-3">
            <h2 class="display-5">Another headline</h2>
            <p class="lead">And an even wittier subheading.</p>
        </div>
        <div class="bg-light shadow-sm mx-auto" style="width: 80%; height: 300px; border-radius: 21px 21px 0 0;"></div>
    </div>
</div> -->

<!-- <div class="d-md-flex flex-md-equal w-100 my-md-3 pl-md-3">
    <div class="bg-light mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
        <div class="my-3 p-3">
            <h2 class="display-5">Another headline</h2>
            <p class="lead">And an even wittier subheading.</p>
        </div>
        <div class="bg-white shadow-sm mx-auto" style="width: 80%; height: 300px; border-radius: 21px 21px 0 0;"></div>
    </div>
    <div class="bg-light mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
        <div class="my-3 py-3">
            <h2 class="display-5">Another headline</h2>
            <p class="lead">And an even wittier subheading.</p>
        </div>
        <div class="bg-white shadow-sm mx-auto" style="width: 80%; height: 300px; border-radius: 21px 21px 0 0;"></div>
    </div>
</div> -->

<!-- <div class="d-md-flex flex-md-equal w-100 my-md-3 pl-md-3">
    <div class="bg-light mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
        <div class="my-3 p-3">
            <h2 class="display-5">Another headline</h2>
            <p class="lead">And an even wittier subheading.</p>
        </div>
        <div class="bg-white shadow-sm mx-auto" style="width: 80%; height: 300px; border-radius: 21px 21px 0 0;"></div>
    </div>
    <div class="bg-light mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
        <div class="my-3 py-3">
            <h2 class="display-5">Another headline</h2>
            <p class="lead">And an even wittier subheading.</p>
        </div>
        <div class="bg-white shadow-sm mx-auto" style="width: 80%; height: 300px; border-radius: 21px 21px 0 0;"></div>
    </div>
    <div class="bg-light mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
        <div class="my-3 py-3">
            <h2 class="display-5">Another headline</h2>
            <p class="lead">And an even wittier subheading.</p>
        </div>
        <div class="bg-white shadow-sm mx-auto" style="width: 80%; height: 300px; border-radius: 21px 21px 0 0;"></div>
    </div>
</div> -->

<footer class="container py-5">
    <div class="row">
        <div class="col-12 col-md">
            <!-- <img src="/assets/images/logo512.png" width="32" height="32" /> -->
            <h6>Let's do this.</h6>
            <small class="d-block mb-3 text-muted">
                &copy; 2023-{{today | date:'yyyy'}} <a href="https://www.3metas.com" class="m-link">CSI Church Anad</a>.
                <br />
                Powered By <a href="https://www.23blocks.com" class="m-link">Jithin</a><br>
                corner.
            </small>
        </div>
        <div class="col-6 col-md">
            <h5>Features</h5>
            <ul class="list-unstyled text-small">
                <li><a class="text-muted" href="#">Cool stuff</a></li>
                <li><a class="text-muted" href="#">Random feature</a></li>
                <li><a class="text-muted" href="#">Team feature</a></li>
                <!-- <li><a class="text-muted" href="#">Stuff for developers</a></li> -->
                <li><a class="text-muted" href="#">Another one</a></li>
                <li><a class="text-muted" href="#">Last time</a></li>
            </ul>
        </div>
        <div class="col-6 col-md">
            <h5>Resources</h5>
            <ul class="list-unstyled text-small">
                <li><a class="text-muted" href="#">Resource</a></li>
                <li><a class="text-muted" href="#">Resource name</a></li>
                <li><a class="text-muted" href="#">Another resource</a></li>
                <li><a class="text-muted" href="#">Final resource</a></li>
            </ul>
        </div>
        <div class="col-6 col-md">
            <h5>Resources</h5>
            <ul class="list-unstyled text-small">
                <li><a class="text-muted" href="#">Business</a></li>
                <li><a class="text-muted" href="#">Education</a></li>
                <li><a class="text-muted" href="#">Government</a></li>
                <!-- <li><a class="text-muted" href="#">Gaming</a></li> -->
            </ul>
        </div>
        <div class="col-6 col-md">
            <h5>About</h5>
            <ul class="list-unstyled text-small">
                <li><a class="text-muted" href="#">Team</a></li>
                <li><a class="text-muted" href="#">Locations</a></li>
                <li><a class="text-muted" routerLink="/privacy" routerLinkActive="active">Privacy</a> </li>
                <li><a class="text-muted" href="#">Terms</a></li>
            </ul>
        </div>
    </div>
</footer>