<div class="container">
    <mat-card *ngFor="let amt of cash">
        <mat-card-header>
          <mat-card-title>Transaction ID: {{ amt.id }}</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <p><strong>Amount:</strong> {{ amt.amount }}</p>
          <p><strong>Entered Date:</strong> {{ amt.enteredDate }}</p>
          <!-- <p><strong>Verified:</strong> {{ amt.isVerified }}</p> -->
          <p><strong>Members:</strong> {{ amt.members.name }}</p>
          <p><strong>Account Type:</strong> {{ amt.accountType.type }}</p>
          <!-- <p><strong>dateOfBirth:</strong> {{ member.dateOfBirth }}</p> -->
        <!-- <div class="d-flex justify-content-center p-3">
          <button class="mx-2" mat-raised-button color="primary">Edit <mat-icon>edit</mat-icon></button>
          <button mat-raised-button color="warn" (click)="deleteFamily(family.id)">Delete <mat-icon>delete</mat-icon></button>
        </div> -->
        </mat-card-content>
      </mat-card>
    <!-- </div> -->
      
      
</div>